*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(238, 230, 230);
    padding: 50px;
    margin: 0 30px;
}

header h1 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

header .nav a{
  text-decoration: none;
  padding: 14px 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 25px;
}


header .nav {
  float: right;
}

header .nav a:hover {
  color: red;
}

header .nav a #about:active {
  color: red;
}

section {
  background-color: rgb(238, 230, 230);
  margin: 10px 30px;
}

section h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  border-radius: 5px;
  padding: 0 20px 20px;
}