{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
    <link rel="stylesheet" href={% static 'css/addpost.css' %}>
</head>
<body>
    <header>
        <h1>Omne initium est dimidium</h1>
            <div class="nav"> 
                <a href="{% url 'index' %}" id="home">Home</a>
                <a href="{% url 'add_post' %}">Create a post</a>
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
            </div>   
    </header>
    <section>
        <h1>Add Blog Post</h1>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Post</button>
            </form>
        </div>
    </section>
</body>
</html>