{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href={% static 'css/article.css' %}>
</head>
<body>
    <header>
        <h1>Omne initium est dimidium</h1>
            <div class="nav"> 
                <a href="{% url 'index' %}" id="home">Home</a>
                <a href="{% url 'add_post' %}">Сreate a post</a>
            </div>   
    </header>
    <section>
            <h1>Aricles</h1>
            <h1>{{ post.title }}</h1>          
            <h3 class="by">By: <span class="author">{{ post.author }}</span></h3>
            <hr>
            <p>{{ post.body }}</p>
    </section>
</body>
</html>