{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href={% static 'css/article.css' %}>
</head>
<body>
    <header>
        <h1>Omne initium est dimidium</h1>
            <div class="nav"> 
                {% if user.is_authenticated %}
                <a href="{% url 'add_post' %}">Create a post</a>
                <a href="{% url 'logout' %}">Logout</a>
                
                {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
                
                {% endif %} 
                <a href="{% url 'index' %}" id="home">Home</a>
            </div>    
    </header>
    <section>
    
            <h1>Aricles</h1>          
            <h1 class="title">{{ post.title }}</h1>          
            <h3 class="by">By: <span class="author">{{ post.author }}</span></h3> 
            <small class="date">{{ post.post_date }}</small> 
            {% if user.is_authenticated %}
            <div class="links">
                <a class="edit" href="{% url 'update_post' post.pk %}">Edit</a>
                <a class="delete" href="{% url 'delete_post' post.pk %}">Delete</a>
            </div>    
            {% endif %}
            <hr class="line">
            <p>{{ post.body }}</p>
    </section>
</body>
</html>